.container {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .outterContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .westEnt,
    .eastEnt,
    .southEnt {
      border: 1px solid #eee;
      padding: 1rem;

      .entryPoint {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-text);
        text-align: center;
      }

      .where {
        text-align: center;
      }

      .innerContainer {
        margin: 1rem 0;

        .slotType,
        .availableSlot {
          color: var(--color-subtext);
        }

        .list {
          margin-left: 1.5rem;
        }

        .fullSlot {
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--color-full);
          text-align: center;
        }
      }
    }
  }

  .form {
    padding: 1rem;
    border: 1px solid #eee;

    input {
      cursor: pointer;
    }

    .input {
      margin-left: 0.5rem;
      padding: 0.3rem 0.5rem;
    }

    .btnSubmit,
    .btnReset {
      margin-top: 1rem;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .btnSubmit {
      margin-right: 1rem;
    }
  }
}
