@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --color-bg: #040c18;
  --color-bg-email: #ff4820;
  --color-about: #042c54;
  --color-white-text: #fff;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--color-white-text);
  background-color: var(--color-bg);
}
